<article class="grid">
        <div>
          <hgroup>
            <h1>appointments</h1>
            <h2>list</h2>
          </hgroup>
        </div>
        <table>
<tr>
        <th>#</th>
        <th>when</th>
        <th>customer</th>
        <th>worker</th>
</tr>
{{range $i, $item := .}}
<tr>
        <td>{{add $i 1}}</td>
        <td><a href="/appointments/{{index $item "guid"}}/">{{index $item "appointment_at"}}</a><br/>{{index $item "appointment_at_ago"}}</td>
        <td><a href="/customer/{{index $item "guid"}}/">{{index $item "customer_id"}}</a></td>
        <td>worker</td>
</tr>
        {{end}}
        </table>
</article>
