<article class="grid">
        <div>
          <hgroup>
            <h1>workers</h1>
            <h2>list</h2>
          </hgroup>
        </div>
        <table id="workers">
        {{template "_workers" .}}
        </table>
        <div>
      Add Worker:
     <form id="form1" method="POST" action="/workers/" onsubmit="sendFormAsJson('workers',event);">
         <input type="text" name="name" id="name" placeholder="name"/>
         <input type="submit" value="add worker"/>
     </form>
        </div>
</article>
